@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">Study Buddy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
   
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
        <CascadingAuthenticationState>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
           <Authorized>
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                 </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="search">
                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
                        </NavLink>
                    </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chat">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat
                    </NavLink>
                </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="notification">
                            <span class="oi oi-bell" aria-hidden="true"></span> Notifications
                        </NavLink>
                    </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </div>
            </nav>
          </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <NotAuthorized>
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="register">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15 4a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4m0 1.9a2.1 2.1 0 1 1 0 4.2A2.1 2.1 0 0 1 12.9 8A2.1 2.1 0 0 1 15 5.9M4 7v3H1v2h3v3h2v-3h3v-2H6V7zm11 6c-2.67 0-8 1.33-8 4v3h16v-3c0-2.67-5.33-4-8-4m0 1.9c2.97 0 6.1 1.46 6.1 2.1v1.1H8.9V17c0-.64 3.1-2.1 6.1-2.1" /></svg> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                        </NavLink>
                    </div>
                </nav>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </CascadingAuthenticationState>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
